@import "colors";

// ep system info & search bars


/* INFO BAR */


.info-bar {
  display: flex;
  margin: 0;
  justify-content: space-around;
  text-align: center;
  user-select: none;
  padding: 3vh 0 5vh 0;
  .section {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    &.line-left {
      border-left: 1px solid $c2;
      &.active {
        border-left: 1px solid $c2;
      }
    }
    &.line-right {
      border-right: 1px solid $c2;
      &.active {
        border-right: 1px solid $c2;
      }
    }
    .stage {
      border: none;
      background: none;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 3vh;
      color: $c10;
      font-weight: bold;
      font-size: 0.8vw;
      text-decoration: none;
      &.active {
        color: $c2;
      }
      //&.admin {
      //  color: $c61;
      //}
    }
    input.stage {
      cursor: pointer;
    }

    .divider {
      width: 10px;
      margin: 0;
      background: $c10;
    }
    .space {
      margin: 0 2vw;
    }

    .content {
      display: flex;
      align-items: center;
      justify-content: center;
      color: $c1;
      height: 3vh;
      font-weight: bold;
      font-size: 0.8vw;
      padding: 0 0.5vw;
      &.other {
        color: $c10;
      }
      &.active {
        color: $c2;
      }
    }
  }
  &.short {
    margin: 0 10vw;
    .section .content.light {
      color: $c10;
    }
  }
  &.tiny {
    margin: 0 30vw;
    padding: 0 0 2.5vh 0;
    .section .content {
      color: $c9;
      text-transform: uppercase;
      &.lower {
        text-transform: none;
      }
    }
  }
}

.info-bar.edit {
  .section {
    .stage {
      //color: $c61;
      color: $c10;
    }
    .content {
      //color: $c62;
      color: $c1;
    }
    &.active {
      .stage {
        color: $c2;
      }
      .content {
        color: $c1;
      }
    }
  }
}


/* SEPARATOR */


hr {
  color: #F9F1EA;
  background-color: #F9F1EA;
  height: 1px;
  border: none
}
.spacer {
  height: 4.6vh;
}


/* SEARCH BAR */


.search-bar {
  display: flex;
  padding: 0 0 1.6vh 0;
  margin: 0 12.5vw;
  background: #FFFFFF;
  user-select: none;
  &.with-space {
    padding-top: 4.6vh;
  }

  input {
    box-shadow: none;
    height: 3.2vh;
    background: #FFFFFF;
    border: 1px solid $c11;
    border-radius: 5px;
    color: $c1;
    text-align: center;
    text-align-last: center;
    font-size: 0.8vw;
    margin: 0 4px;
    &:focus {
      border: 1px solid $c34;
      &::placeholder {
        color: transparent;
      }
    }
    &:valid {
      border: 1px solid $c34;
    }
  }
  ::placeholder {
    color: $c11;
    font-size: 0.8vw;
    opacity: 1;
  }
  :-ms-input-placeholder {
    color: $c11;
    font-size: 0.8vw;
  }
  ::-ms-input-placeholder {
    color: $c11;
    font-size: 0.8vw;
  }

  select {
    box-shadow: none;
    height: 3.2vh;
    width: 100%;
    border: 1px solid $c11;
    border-radius: 5px;
    text-align: center;
    text-align-last: center;
    font-size: 0.8vw;
    color: $c1;
    cursor: pointer;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    -webkit-border-radius: 5px;
    background: transparent;
    &:focus {
      border: 1px solid $c34;
    }
  }
  select:valid {
    border: 1px solid $c34;
  }
  select:invalid {
    color: $c11;
  }
  select option {
    color: $c1;
  }
  select::-ms-expand {
    display: none;
  }

  .custom-select {
    margin: 0 4px;
    border-radius: 5px;
    background-image: url("../epsystem/account/img/dropdown-menu-button.svg");
    background-repeat: no-repeat;
    background-position: right top;
    background-position-x: right;
    background-position-y: top;
  }
  .custom-select:hover, .custom-select:focus-within, .custom-select.active {
    background-image: url("../epsystem/account/img/dropdown-menu-button-hl.svg");
  }

  &.admin {
    input:focus {
      border: 1px solid $c34;
      &::placeholder {
        color: transparent;
      }
    }
    input:valid {
      border: 1px solid $c34;
    }
    select:focus {
      border: 1px solid $c34;
    }
    select:valid {
      border: 1px solid $c34;
    }
    .custom-select:hover, .custom-select:focus-within, .custom-select.active {
      background-image: url("../epsystem/account/img/dropdown-menu-button-hl.svg");
    }
  }
}