@import "colors";

// ep system info & search bars


/* INFO BAR */


.info-bar {
  display: flex;
  margin: 0 12.5vw;
  justify-content: space-between;
  text-align: center;
  background: #FFFFFF;
  user-select: none;
  padding: 3.5vh 0 3.5vh 0;
  &.extended {
    margin: 0;
    justify-content: space-around;
  }
  .section {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    // NON-ADMIN COLOR
    /*&.line-left {
      border-left: 1px solid $c9;
    }
    &.line-right {
      border-right: 1px solid $c9;
    }*/
    &.line-left {
      border-left: 1px solid $c61;
    }
    &.line-right {
      border-right: 1px solid $c61;
    }
    .stage {
      border: none;
      background: none;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 3vh;
      color: $c9;
      font-weight: bold;
      font-size: 0.8vw;
      &.active {
        color: $c2;
      }
      &.admin {
        color: $c61;
      }
    }
    input.stage {
      cursor: pointer;
    }

    .divider {
      width: 10px;
      margin: 0;
      background: $c9;
    }
    .space {
      margin: 0 2vw;
    }

    .content {
      display: flex;
      align-items: center;
      justify-content: center;
      color: $c1;
      height: 3vh;
      font-weight: bold;
      font-size: 0.8vw;
      padding: 0 0.5vw;
      &.active {
        color: $c2;
      }
    }
  }
}


.info-bar .hours-button {
  font-size: 0.8vw;
  font-weight: bold;
  width: 4vw;
  height: 3vh;
  border: none;
  border-radius: 5px;
  background: $c11;
  color: $c9;
  cursor: pointer;
  margin: 0 0.1vw;
}
.info-bar .hours-button:first-of-type {
  margin-left: 0.5vw;
}
.info-bar .hours-button:hover {
  color: $c1;
  border: none;
}
.info-bar .hours-button.active {
  background: $c2;
  color: $c1;
  border: none;
}


/* SEPARATOR */


hr {
  color: #F9F1EA;
  background-color: #F9F1EA;
  height: 1px;
  border: none
}


/* SEARCH BAR */


.search-bar {
  display: flex;
  padding: 4.8vh 0 1.6vh 0;
  margin: 0 12.5vw;
  background: #FFFFFF;
  user-select: none;

  input {
    height: 3.2vh;
    background: #FFFFFF;
    border: 1px solid $c37;
    border-radius: 5px;
    color: $c35;
    text-align: center;
    text-align-last: center;
    font-size: 0.8vw;
    margin: 0 1px;
  }
  input.input-id {
    width: calc(7.5% - 2px);
  }
  input.input-name {
    width: calc(20% - 2px);
  }
  .custom-select.input-division {
    width: calc(15% - 2px);
  }
  .custom-select.input-preset {
    width: calc(15% - 2px);
  }
  ::placeholder {
    color: $c35;
    font-size: 0.8vw;
    opacity: 1;
  }
  :-ms-input-placeholder {
    color: $c35;
    font-size: 0.8vw;
  }
  ::-ms-input-placeholder {
    color: $c35;
    font-size: 0.8vw;
  }

  select {
    height: 3.2vh;
    width: 100%;
    border: 1px solid $c37;
    border-radius: 5px;
    text-align: center;
    text-align-last: center;
    font-size: 0.8vw;
    color: $c35;
    cursor: pointer;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    -webkit-border-radius: 5px;
    background: transparent;
  }
  select:invalid {
    color: $c35;
  }
  select option {
    color: $c35;
  }

  .custom-select {
    margin: 0 1px;
    border-radius: 5px;
    background-image: url("../epsystem/account/img/dropdown-menu-button.svg");
    background-repeat: no-repeat;
    background-position: right top;
  }
  .custom-select:hover {
    background-image: url("../epsystem/account/img/dropdown-menu-button-hl.svg");
  }
}


/* DECISION BAR*/


.decision-bar {
  width: 100%;
  display: flex;
  margin: 5vh 0 5vh 0;
  user-select: none;

   .button:nth-of-type(even) {
    background: $c112;
  }
  .button {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background: $c37;
    color: $c1;
    font-weight: bold;
    font-size: 0.7vw;
    flex: 1;
    height: 3vh;
    text-align: center;
    &:hover {
      background: $c4;
    }
  }
}