// Color Palette for ep system
// bc - Base Color
// wc - White Color

// BASE COLOR

$bc: #705D34; // Base color
$bc-95wc: #F8F7F5; // 95% white color mix
$bc-90wc: #F0EEEA; // 90% white color mix
$bc-80wc: #E2DFD6; // 80% white color mix
$bc-60wc: #C6BEAE; // 60% white color mix
$bc-40wc: #A99E85; // 40% white color mix
$bc-20wc: #8D7D5D; // 20% white color mix

// COLOR #1

$c1: #F5B82E; // Main color #1
$c1-10bc: #E8AF2E; // 10% base color mix
$c1-20bc: #DAA62F; // 20% base color mix
$c1-40bc: #C09331; // 40% base color mix
$c1-60bc: #A58231; // 60% base color mix
$c1-80bc: #8B6F33; // 80% base color mix
$c1-90wc: #FEF8EA; // 90% white color mix
$c1-80wc: #FDF1D5; // 80% white color mix
$c1-60wc: #FBE3AB; // 60% white color mix
$c1-40wc: #F9D482; // 40% white color mix
$c1-20wc: #F7C658; // 20% white color mix

// Color #2

$c2: #559997; // Main color #2
$c2-10bc: #58938D; // 10% base color mix
$c2-20bc: #5A8D83; // 20% base color mix
$c2-40bc: #608170; // 40% base color mix
$c2-60bc: #65755B; // 60% base color mix
$c2-80bc: #6B6948; // 80% base color mix
$c2-90wc: #EEF5F4; // 90% white color mix
$c2-80wc: #DDEBEA; // 80% white color mix
$c2-60wc: #BBD6D5; // 60% white color mix
$c2-40wc: #99C2C1; // 40% white color mix
$c2-20wc: #77ADAC; // 20% white color mix

// Color #3

$c3: #A3D848; // Main color #3
$c3-10bc: #9ECC46; // 10% base color mix
$c3-20bc: #98C044; // 20% base color mix
$c3-40bc: #8FA740; // 40% base color mix
$c3-60bc: #848E3C; // 60% base color mix
$c3-80bc: #7B7538; // 80% base color mix
$c3-90wc: #F3F9EF; // 90% white color mix
$c3-80wc: #E8F4E0; // 80% white color mix
$c3-60wc: #D1E9C0; // 60% white color mix
$c3-40wc: #BADEA1; // 40% white color mix
$c3-20wc: #A3D381; // 20% white color mix

// Color #4

$c4: #C46C73; // Main color #4
$c4-10bc: #BB6A6D; // 10% base color mix
$c4-20bc: #B36966; // 20% base color mix
$c4-40bc: #A2665A; // 40% base color mix
$c4-60bc: #92634D; // 60% base color mix
$c4-80bc: #816041; // 80% base color mix
$c4-90wc: #F9F0F1; // 90% white color mix
$c4-80wc: #F3E2E3; // 80% white color mix
$c4-60wc: #E7C4C7; // 60% white color mix
$c4-40wc: #DCA7AB; // 40% white color mix
$c4-20wc: #D0898F; // 20% white color mix