@import "colors";

// ep header

.container-header {
  user-select: none;
  position: relative;
  display: flex;
  min-height: 8vh;
  background: $c35;
  border-bottom: 1px solid $c8;
  z-index: 1;

  .logo-container {
    display: flex;
    flex: 1;
    .logo-link {
      display: flex;
      margin-left: 1vw;
      align-self: center;
      height: 40%;
      .logo-header {
        display: block;
        height: 100%;
      }
    }
  }

  .menu-header {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: flex-end;
    margin-bottom: -3px;

    .link-container {
      width: 8vw;
      text-align: center;
    }

    a {
      display: block;
      width: 100%;
      font-size: 0.85vw;
      color: $c8;
      text-decoration: none;
      border-bottom: 3px solid transparent;
      padding-bottom: 1px;
    }
    a:hover {
      color: $c1;
    }
    a.active {
      color: $c1;
      font-size: 0.85vw;
      font-weight: bold;
      border-bottom: 3px solid $c1;
      text-transform: uppercase;
      padding-bottom: 0;
    }

    span {
      margin: 0 3vw;
    }
  }

  .exit-form {
    display: flex;
    justify-content: center;
    flex: 1;
    height: 100%;
    .exit-button {
      display: flex;
      align-items: center;
      align-self: center;
      justify-content: center;
      height: 40%;
      width: 10vw;
      margin: 0 3vw 0 auto;
      font-size: 0.6vw;
      color: $c8;
      background-color: inherit;
      border: 1px solid $c8;
      border-radius: 5px;
      cursor: pointer;
    }
    .exit-button:hover {
      color: $c1;
      border: 1px solid $c1;
    }
  }
}