@import "colors";

// all menu levels and home menu

.menu {
  position: sticky;
  top: 0;
  user-select: none;
}


/* HUD */


.head-up-display-bar {
  height: 12vh;
  text-align: center;
  background: $c37;
  user-select: none;
  span {
    line-height: 12vh;
    font-size: 2.8vw;
    font-weight: bold;
    color: $c10;
    text-transform: uppercase;
    display: block;
    margin: 0 5vw;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}


/* NAVBAR */

.navbar {
  display: flex;
  flex: 0 0 auto;
  background: $c2;
  //&.admin {
  //  background: $c2; // Line color for admin
  //}
  &.level-1 {
    &.current {
      height: calc(100vh - 8vh - 12vh - 5.5vh);
    }
    padding-top: 0;
    .button {
      height: 6vh;
      font-size: 1.3vw;
      padding-top: 1px;
      .count {
        height: 50%;
        padding-top: 1px;
      }
    }
  }
  &.level-2 {
    &.current {
      height: calc(100vh - 8vh - 12vh - 6vh - 5.5vh);
    }
    padding-top: 2px;
    .button {
      height: 4.5vh;
      font-size: 0.90vw;
      padding-top: 2px;
      .count {
        height: 50%;
        padding-top: 2px;
      }
    }
  }
  &.level-3 {
    &.current {
      height: calc(100vh - 8vh - 12vh - 6vh - 4.5vh - 5.5vh - 2px);
    }
    padding-top: 2px;
    .button {
      height: 3.5vh;
      font-size: 0.80vw;
      .count {
        height: 60%;
      }
    }
  }
  &.level-4 {
    background: #FFFFFF;
    padding-top: 3px;
    .button {
      height: 3vh;
      font-size: 0.7vw;
    }
    .count {
      height: 60%;
    }
  }
  .container-button {
    display: flex;
    flex-direction: column;
    background: #FFFFFF;
    flex: 1;
    &.active {
      flex: 1.4;
    }
    &.disabled {
      pointer-events: none;
    }
    .button {
      display: flex;
      text-decoration: none;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      border: none;
      border-radius: 0;
      .count {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 0.4vw;
        padding-left: 0.4vw;
        padding-right: 0.4vw;
        background: #FFFFFF;
        border-radius: 5px;
      }
    }
  }
}

// When home menu is present

.navbar.level-1 .container-button .button.page:hover {
  color: $c1;
  background: $c2;
}
.navbar.level-1 .container-button {
  &:nth-of-type(even) .button {
    background: #6C5A32;
  }
  //&:nth-of-type(even) .button.admin-menu {
  //  background: #5E7A67;
  //}
  .button {
    font-weight: bold;
    background: $c1;
    color: $c13;
  }
  &:hover .button {
    color: $c2;
  }

  .button.active-menu {
    background: $c2;
    color: $c1;
  }
  //.button.admin-menu {
  //  background: $c83;
  //  color: $c79;
  //}
  //&:hover .button.admin-menu {
  //  color: $c2;
  //}
  //&:hover .button.page.admin-menu {
  //  background: $c2;
  //  color: $c1;
  //}
  //.button.admin-menu.active-menu {
  //  background: $c2;
  //  color: $c1;
  //}
  .button.h-menu.active-menu {
    background: $c2;
    color: $c1;
  }

  &:nth-of-type(odd) .button .count {
    color: $c1;
  }
  &:nth-of-type(even) .button .count {
    color: #6C5A32;
  }
  //&:nth-of-type(odd) .button.admin-menu .count {
  //  color: $c83;
  //}
  //&:nth-of-type(even) .button.admin-menu .count {
  //  color: #5E7A67;
  //}
  .button .count {
    background: $c13;
  }
  //.button.admin-menu .count {
  //  background: $c79;
  //}
  &:hover .button .count {
    background: $c2;
  }

  .button.active-menu .count {
    background: $c1;
    color: $c2;
  }

  //.button.admin-menu.active-menu .count {
  //  background: $c1;
  //  color: $c2;
  //}
}

.navbar.level-2 .container-button .button.page:hover {
  color: $c1;
  background: $c2;
}
.navbar.level-2 .container-button {
  &:nth-of-type(even) .button {
    background: #BA8F2E;
  }
  //&:nth-of-type(even) .button.admin-menu {
  //  background: #719A7E;
  //}
  .button {
    font-weight: bold;
    background: $c56;
    color: $c1;
  }
  &:hover .button {
    color: $c2;
  }

  //.button.admin-menu {
  //  background: $c75;
  //}
  .button.active-menu {
    background: $c2;
    color: $c1;
  }
  //&:hover .button.admin-menu {
  //}
  //.button.admin-menu.active-menu {
  //  background: $c2;
  //  color: $c1;
  //}


  &:nth-of-type(odd) .button .count {
    color: $c56;
  }
  &:nth-of-type(even) .button .count {
    color: #BA8F2E;
  }
  .button .count {
    background: $c1;
  }
  &:hover .button .count {
    background: $c2;
    color: $c56;
  }

  .button.active-menu .count {
    background: $c1;
    color: $c2;
  }

  //.button.admin-menu .count {
  //}
}

.navbar.level-3 .container-button .button.page:hover {
  color: $c1;
  background: $c2;
}
.navbar.level-3 .container-button {
  &:nth-of-type(even) .button {
    background: #BA8F2E;
  }
  //&:nth-of-type(even) .button.admin-menu {
  //  background: #719A7E;
  //}
  .button {
    font-weight: bold;
    background: $c1-40bc;
    color: $c2;
  }
  &:hover .button {
    color: $c1;
  }

  //.button.admin-menu {
  //  background: $c75;
  //}
  .button.active-menu {
    background: $c2;
    color: $c1;
  }
  //&:hover .button.admin-menu {
  //}
  //.button.admin-menu.active-menu {
  //  background: $c2;
  //  color: $c1;
  //}


  &:nth-of-type(odd) .button .count {
    color: $c1-40bc;
  }
  &:nth-of-type(even) .button .count {
    color: #BA8F2E;
  }
  .button .count {
    background: $c2;
  }
  &:hover .button .count {
    background: $c1;
  }

  .button.active-menu .count {
    background: $c1;
    color: $c2;
  }

  //.button.admin-menu .count {
  //}
}


/* HOME BAR */


.home-menu {
  display: flex;
  flex: 1;
  flex-direction: column;
  border: solid 1px white;
  background: #F8F7F5;
  padding: 0 1vw;
  user-select: none;
  margin: 0.2vh 0;
  text-decoration: none;
  cursor: pointer;
  font-size: 0;
  &.disabled {
    cursor: not-allowed;
  }
}

.home-menu .title {
  text-transform: uppercase;
  text-align: center;
  color: $c11;
  font-weight: bold;
  font-size: 1.3vw;
  margin: 3vh 0 1.5vh 0;
}

.home-menu .description {
  display: block;
  text-align: center;
  color: $c11;
  font-size: 0.8vw;
}

.home-menu .total-count {
  text-align: center;
  margin: 5vh 0 5vh 0;
}
.home-menu .total-count .count {
  display: inline-block;
  padding: 0 1vw;
  font-size: 1.3vw;
  font-weight: bold;
  background: #FFFCF8;
  color: $c11;
}
.home-menu .total-count span {
  font-size: 1.2vw;
  font-weight: bold;
  color: $c11;
  text-transform: uppercase;
}

.home-menu .last-hours {
  text-align: center;
  margin-bottom: 5vh;
}
.home-menu .last-hours .title {
  margin: 0 0 1.5vh 0;
  font-size: 1.05vw;
  font-weight: bold;
  color: $c11;
  text-transform: uppercase;
}

.home-menu .last-hours .details-count {
  margin-top: 1vh;
  text-align: initial;
}
.home-menu .last-hours .details-count span {
  font-size: 1.2vw;
  font-weight: bold;
  color: $c11;
  text-transform: uppercase;
}
.home-menu .last-hours .details-count .count {
  display: inline-block;
  float: right;
  background: #FFFCF8;
  font-size: 1.3vw;
  font-weight: bold;
  color: $c11;
  width: 20%;
  text-align: center;
}

.home-menu .bottom {
  margin-top: auto;
}

.home-menu .bottom .enter-button {
  display: flex;
  width: 60%;
  height: 6vh;
  justify-content: center;
  align-items: center;
  background: #FFFCF8;
  color: #EFE8E4;
  border: 1px solid #F9F1EA;
  font-size: 1.05vw;
  font-weight: bold;
  cursor: pointer;
  margin: 0 auto 1.5vh auto;
  border-radius: 5px;
  text-decoration: none;
  text-transform: uppercase;
}

.home-menu .bottom .note {
  display: block;
  text-align: center;
  font-size: 0.8vw;
  color: $c11;
  margin: 0 auto 3vh auto;
}

//.navbar.level-1 .home-menu.admin {
//  background: $c63;
//}
//.container-button:hover .home-menu.admin {
//  background: $c36;
//}
.container-button:hover .home-menu {
  background: $c36;
}
//.container-button:hover .home-menu.admin {
//}

.container-button:hover .title {
  color: #F4AC32;
}

.container-button:hover .description {
  color: $c1;
}

.container-button:hover .total-count .count {
  background: #F4AC32;
  color: #FFFFFF;
}

.container-button:hover .total-count span {
  color: #EFE8E4;
}

.container-button:hover .last-hours .title {
  color: #FCE7CA;
}

.container-button:hover .last-hours .details-count span {
  color: #EFE8E4;
}

.container-button:hover .last-hours .details-count .count {
  background: #FFFCF8;
  color: #F4AC32;
}

.container-button:hover .bottom .enter-button {
  background: #FFFCF8;
  border: 1px solid #F4AC32;
  color: #F4AC32;
}

.container-button .bottom .enter-button:hover {
  background: #F4AC32;
  color: #FFFFFF;
}

.container-button:hover .bottom .note {
  color: #C89933;
}


.navbar.unselected .container-button .button {
  color: $c13;
}
.navbar.unselected .container-button:hover .button {
  color: $c1;
  background: $c2;
}
//.navbar.unselected .container-button:hover .button.admin-menu {
//  color: $c1;
//  background: $c2;
//}

.navbar.level-1.unselected .container-button {
  .button .count {
  }
  &:hover .button .count {
    background: $c1;
    color: $c2;
  }
}

.navbar.level-2.unselected .container-button {
  .button .count {
    background: $c13;
  }
  &:hover .button .count {
    background: $c1;
    color: $c2;
  }
}

.navbar.level-3.unselected .container-button {
  .button {
    color: $c2;
  }
  .button .count {
    background: $c2;
  }
  &:hover .button {
    color: $c1;
  }
  &:hover .button .count {
    background: $c1;
    color: $c2;
  }
}

.hover-text {
  display: none;
  position: absolute;
  font-size: 0.7vw;
  background: white;
  border: 1px solid black;
  padding: 0.5vh 0.5vw;
}
.container-button:hover .hover-text {
  //display: block;
  position: fixed;
  overflow: hidden;
}