@import "colors";

// ep system tables

.table-header-container {
  display: flex;
}

.header {
  display: inline-table;
  width: 75vw;
  &.small {
    width: 20vw;
  }
  &.medium {
    width: 40vw;
  }
}

.header-extension {
  width: 12.5vw;
  height: 3vh;
  background: #F8F7F5;
  border-left: 1px solid #FFFFFF;
  border-right: 1px solid #FFFFFF;
  &.small {
    width: 40vw;
  }
  &.medium {
    width: 30vw;
  }
}
.header-extension.admin {
  background: #F6FAFA;
}

.head {
  display: table-cell;
  text-align: center;
  line-height: 3vh;
  user-select: none;
  background: $c10;
  color: $c1;
  font-size: 0.75vw;
  font-weight: bold;
  border-left: 1px solid #FFFFFF;
  border-right: 1px solid #FFFFFF;
}
.head.admin {
  background: $c62;
}

.id, .open, .tasks {
  //width: 7.5%;
}
.time, .value {
  width: 8%;
  cursor: pointer;
}
.earn {
  width: 10%;
}
.type {
  width: 12%;
}
.client, .date {
  width: 9%;
}
.name {
  width: 18%;
}

.table {
  display: table;
  table-layout: fixed;
  width: 75vw;
  margin: 0 auto;
  border-spacing: 0 10px;
  text-align: center;
  font-size: 0.9vw;
  &.small {
    width: 20vw;
  }
  &.medium {
    width: 40vw;
  }
}

.empty-table {
  user-select: none;
  text-align: center;
  font-size: 2.8vw;
  font-weight: bold;
  color: $c63;
  line-height: 12vh;
}

.row {
  display: table-row;
  line-height: 3vh;
}
.row:hover {}

.cell {
  display: table-cell;
  //white-space: nowrap;
  //overflow: hidden;
}

.cell .content {
  display: block;
  width: 100%;
  text-decoration: none;
  background: none;
  font-size: 0.9vw;
  color: $c9;
  border: 1px solid $c11;
  cursor: pointer;
  line-height: inherit;
}
.cell .content:empty::after{
  content: "\00a0";
}
.cell.id .content {
  background: $c11;
}
.cell:first-child .content {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.cell:last-child .content {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.row:hover .cell .content {
  border: 1px solid $c2;
  color: $c1;
}
.row:hover .cell.id .content {
  background: $c2;
  color: $c1;
}

.cell .open-button {
   background-color: $c11;
   background-image: url("../epsystem/account/img/open-button.svg");
   background-repeat: no-repeat;
   background-size: 100% 100%;
   height: 100%;
   width: 100%;
   text-indent: 100%;
   white-space: nowrap;
   overflow: hidden;
   border-top-right-radius: 5px;
   border-bottom-right-radius: 5px;
}
.row:hover .cell .open-button {
  background-color: $c2;
  background-image: url("../epsystem/account/img/open-button-hl.svg");
}
.cell .add-button {
  background-color: $c11;
  background-image: url("../epsystem/account/img/add-button.svg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 100%;
  width: 100%;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.row:hover .cell .add-button {
  background-color: $c2;
  background-image: url("../epsystem/account/img/add-button-hl.svg");
}

.sub-table {
  display: table;
  table-layout: fixed;
  border-spacing: 0;
  width: 100%;
}

.sub-row {
  display: table-row;
}

.sub-cell {
  display: table-cell;
}

.sub-cell .content {
  border-radius: 0;
  border-left: none;
  border-right: 1px solid #F9F1EA;
}
.sub-cell:first-child .content {
  border-left: 1px solid #F9F1EA;
}
.row:hover .sub-cell .content {
  border-left: none;
  border-right: 1px solid #FFD275;
}
.row:hover .sub-cell:first-child .content {
  border-left: 1px solid #FFD275;
}





.field {
  display: table-row;
  line-height: 3vh;
  width: 100%;
  font-size: 0.9vw;
  border-radius: 5px;
  border: 1px solid $c11;
  text-align: center;
  color: $c1;

}
.field.admin {
  border: 1px solid $c63;
}
.field.admin::placeholder {
  color: $c61;
}
.field:focus::placeholder {
  color: transparent;
}
.field:focus {
  border: 1px solid $c2;
}



.table.admin {
  .cell .content {
    color: $c61;
    border: 1px solid $c63;
  }
  .row:hover .cell .content {
    color: $c1;
    border: 1px solid $c2;
  }

  .cell .add-button {
    background-image: url("../epsystem/account/img/add-button-admin.svg");
    background-color: $c63;
  }
  .row:hover .cell .add-button {
    background-color: $c2;
    background-image: url("../epsystem/account/img/add-button-hl.svg");
  }
  .cell.id .content {
    background-color: $c63;
  }
  .row:hover .cell.id .content {
    background-color: $c2;
  }
}