@import "colors";

// ep system tables

.table-header-container {
  display: flex;
}

.header {
  display: inline-table;
  width: 75vw;
  &.small {
    width: 20vw;
  }
  &.medium {
    width: 40vw;
  }
  &.large {
    width: 60vw;
  }
}

.header-extension {
  width: 12.5vw;
  height: 3vh;
  background: $c37;
  border-left: 1px solid #FFFFFF;
  border-right: 1px solid #FFFFFF;
  &.small {
    width: 40vw;
  }
  &.medium {
    width: 30vw;
  }
  &.large {
    width: 20vw;
  }
}
//.header-extension.admin {
//  background: $c63;
//}

.head {
  display: table-cell;
  text-align: center;
  line-height: 3vh;
  user-select: none;
  background: $c34;
  color: $c1;
  font-size: 0.75vw;
  font-weight: bold;
  border-left: 1px solid #FFFFFF;
  border-right: 1px solid #FFFFFF;
}
//.head.admin {
//  background: $c61;
//}

.empty-table {
  user-select: none;
  text-align: center;
  font-size: 2.8vw;
  font-weight: bold;
  color: $c63;
  line-height: 12vh;
  &.comments {
    font-size: 1.4vw;
    line-height: 6vh;
    color: $c10;
    //border: 1px solid $c10;
    margin: 0 0 3vh 0;
  }
}
.table {
  display: table;
  table-layout: fixed;
  width: 75vw;
  margin: 0 auto;
  border-spacing: 0 10px;
  text-align: center;
  font-size: 0.9vw;
  &.small {
    width: 20vw;
  }
  &.medium {
    width: 40vw;
  }
  &.large {
    width: 60vw;
  }
  &.ow {
    width: 100%;
  }

  .row {
    display: table-row;
    line-height: 3vh;
  }
  .row:hover {}

  .cell {
    display: table-cell;
    //white-space: nowrap;
    //overflow: hidden;
  }

  .cell .content {
    display: block;
    width: 100%;
    text-decoration: none;
    background: none;
    font-size: 0.9vw;
    color: $c10;
    border: 1px solid $c37;
    cursor: pointer;
    line-height: inherit;
    padding: 0 0 0 0.2vw;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .cell .content:empty::after {
    content: "\00a0";
  }
  .cell.id .content {
    background: $c37;
  }
  .cell:first-child .content {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }
  .cell:last-child .content {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  .row:hover .cell .content {
    border: 1px solid $c34;
    color: $c1;
    background-color: $c37;
  }
  .row:hover .cell.id .content {
    background: $c34;
    color: $c1;
  }

  .cell .empty-button {
    background-color: $c37;
  }
  .row:hover .cell .empty-button {
    background-color: $c34;
  }

  .cell .open-button {
    background-color: $c37;
    background-image: url("../epsystem/account/img/open-button.svg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 100%;
    width: 100%;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  .row:hover .cell .open-button {
    background-color: $c34;
    background-image: url("../epsystem/account/img/open-button-hl.svg");
  }
  .cell .add-button {
    background-color: $c37;
    background-image: url("../epsystem/account/img/add-button.svg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 100%;
    width: 100%;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  .row:hover .cell .add-button {
    background-color: $c34;
    background-image: url("../epsystem/account/img/add-button-hl.svg");
  }
  .cell .del-button {
    background-color: $c37;
    background-image: url("../epsystem/account/img/del-button.svg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 100%;
    width: 100%;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  .row:hover .cell .del-button {
    background-color: $c34;
    background-image: url("../epsystem/account/img/del-button-hl.svg");
  }
  .cell .edit-button {
    background-color: $c37;
    background-image: url("../epsystem/account/img/edit-button.svg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 100%;
    width: 100%;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  .row:hover .cell .edit-button {
    background-color: $c34;
    background-image: url("../epsystem/account/img/edit-button-hl.svg");
  }
  .cell .select-button {
    background-color: $c37;
    background-image: url("../epsystem/account/img/select-button.svg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 100%;
    width: 100%;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  .row:hover .cell .select-button {
    background-color: $c34;
    background-image: url("../epsystem/account/img/select-button-hl.svg");
  }

  .sub-table {
    display: table;
    table-layout: fixed;
    border-spacing: 0;
    width: 100%;
  }

  .sub-row {
    display: table-row;
  }

  .sub-cell {
    display: table-cell;
  }

  .sub-cell .content {
    border-radius: 0;
    border-left: none;
    border-right: 1px solid #F9F1EA;
  }
  .sub-cell:first-child .content {
    border-left: 1px solid #F9F1EA;
  }
  .row:hover .sub-cell .content {
    border-left: none;
    border-right: 1px solid #FFD275;
  }
  .row:hover .sub-cell:first-child .content {
    border-left: 1px solid #FFD275;
  }
}




.field {
  display: table-row;
  line-height: 3vh;
  width: 100%;
  font-size: 0.9vw;
  border-radius: 5px;
  border: 1px solid $c11;
  text-align: center;
  color: $c10;
}
//.field.admin {
//  border: 1px solid $c63;
//}
//.field.admin::placeholder {
//  color: $c61;
//}
.field:focus::placeholder {
  color: transparent;
}
.field:focus {
  color: $c1;
  border: 1px solid $c2;
}



//.table.admin {
//  .cell .content {
//    color: $c10;
//    border: 1px solid $c63;
//  }
//  .row:hover .cell .content {
//    background-color: $c37;
//    color: $c1;
//    border: 1px solid $c34;
//  }
//
//
//  .cell.id .content {
//    background-color: $c63;
//  }
//  .row:hover .cell.id .content {
//    background-color: $c34;
//  }
//
//  .cell .empty-button {
//    background-color: $c63;
//  }
//  .row:hover .cell .empty-button {
//    background-color: $c34;
//  }
//
//  .cell .open-button {
//    background-image: url("../epsystem/account/img/open-button-admin.svg");
//    background-color: $c63;
//  }
//  .row:hover .cell .open-button {
//    background-image: url("../epsystem/account/img/open-button-hl.svg");
//    background-color: $c34;
//  }
//
//  .cell .add-button {
//    background-image: url("../epsystem/account/img/add-button-admin.svg");
//    background-color: $c63;
//  }
//  .row:hover .cell .add-button {
//    background-image: url("../epsystem/account/img/add-button-hl.svg");
//    background-color: $c34;
//  }
//
//  .cell .del-button {
//    background-image: url("../epsystem/account/img/del-button-admin.svg");
//    background-color: $c63;
//  }
//  .row:hover .cell .del-button {
//    background-image: url("../epsystem/account/img/del-button-hl.svg");
//    background-color: $c34;
//  }
//
//  .cell .edit-button {
//    background-image: url("../epsystem/account/img/edit-button-admin.svg");
//    background-color: $c63;
//  }
//  .row:hover .cell .edit-button {
//    background-image: url("../epsystem/account/img/edit-button-hl.svg");
//    background-color: $c34;
//  }
//
//  .cell .select-button {
//    background-image: url("../epsystem/account/img/select-button-admin.svg");
//    background-color: $c63;
//  }
//  .row:hover .cell .select-button {
//    background-image: url("../epsystem/account/img/select-button-hl.svg");
//    background-color: $c34;
//  }
//}