@import "colors";

// ep system tables

.table-header-container {
  display: flex;
}

.header {
  display: inline-table;
  width: 80vw;
}

.header-extension:first-child {
  width: 10vw;
  height: 3vh;
  background: #F8F7F5;
  border-right: 1px solid #FFFFFF;
}
.header-extension:last-child {
  width: 10vw;
  height: 3vh;
  background: #F8F7F5;
  border-left: 1px solid #FFFFFF;
}

.head {
  display: table-cell;
  text-align: center;
  line-height: 3vh;
  user-select: none;
  background: #F0EEEA;
  color: #705D34;
  font-size: 0.75vw;
  font-weight: bold;
  border-left: 1px solid #FFFFFF;
  border-right: 1px solid #FFFFFF;
}

.id {
  width: 5%;
}
.project {
  width: 18%;
}
.type {
  width: 12%;
}
.client {
  width: 14%;
}
.objectives {
  width: 8%;
}
.assignments {
  width: 22%;
}
.time {
  width: 8%;
  cursor: pointer;
}
.value {
  width: 8%;
  cursor: pointer;
}
.open {
  width: 5%;
}
.start-date {
  width: 14%;
}
.finish-date {
  width: 14%;
}
.completed-in {
  width: 10%;
}
.cancellation-reason {
  width: 24%;
}
.cancel-date {
  width: 14%;
}
.pending-for {
  width: 10%;
}
.pending-reason {
  width: 20%;
}
.earn {
  width: 10%;
}

.table {
  display: table;
  border-spacing: 0 10px;
  width: 80vw;
  text-align: center;
  font-size: 0.9vw;
  margin: 0 auto;
  table-layout: fixed;
}

.row {
  display: table-row;
  height: 3vh;
  line-height: 3vh;
}
.row:hover {}

.cell {
  display: table-cell;
  white-space: nowrap;
  overflow: hidden;
}
.cell.id {
  //background: #F8F7F5;
}
.cell.open {
  //background: #F8F7F5;
}

.cell a {
  display: block;
  text-decoration: none;
  color: #E2DFD6;
  border: 1px solid #F0EEEA;
}
.cell.id a {
  background: #F8F7F5;
}
.cell.earn a {
  font-weight: bold;
  color: #D1E9C0;
}
.cell:first-child a {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.cell:last-child a {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.row:hover .cell a {
  border: 1px solid #E2DFD6;
  color: #705D34;
}
.row:hover .cell.id a {
  background: #F8F7F5;
  border: 1px solid #E2DFD6;
  color: #705D34;
}
.row:hover .cell.open a {
  border: 1px solid #E2DFD6;
}
.row:hover .cell.earn a {
  color: #A3D848;
}

.cell .open-button {
  background-color: #F8F7F5;
  background-image: url("../epsystem/account/img/project-open-button.svg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 100%;
  width: 100%;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.row:hover .cell .open-button {
  background-color: #F8F7F5;
  background-image: url("../epsystem/account/img/project-open-button-hl.svg");
}

.cell a {
  font-weight: initial;
}

.sub-table {
  display: table;
  table-layout: fixed;
  border-spacing: 0;
  width: 100%;
}

.sub-row {
  display: table-row;
}

.sub-cell {
  display: table-cell;
}

.sub-cell a {
  border-radius: 0;
  border-left: none;
  border-right: 1px solid #F9F1EA;
}
.sub-cell:first-child a {
  border-left: 1px solid #F9F1EA;
}
.row:hover .sub-cell a {
  border-left: none;
  border-right: 1px solid #FFD275;
}
.row:hover .sub-cell:first-child a {
  border-left: 1px solid #FFD275;
}