@import "colors";

// task page

.task-container {
  width: 75vw;
  margin: 0 auto 4vh auto;
  &:hover .name {
    background-color: $c2;
  }
  &:hover .description {
    background-color: $c37;
    border: solid 1px $c2;
    color: $c1;
  }
  .name {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3.2vh;
    background-color: $c35;
    color: $c1;
    font-weight: bold;
    font-size: 0.75vw;
    user-select: none;
  }
  .description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 6.4vh;
    border: solid 1px $c36;
    color: $c9;
    cursor: default;
  }
}

.link-section {
  margin: 0 12.5vw 4vh 12.5vw;
  display: flex;
  justify-content: flex-start;
  .link-type {
    display: flex;
    flex-direction: column;
    width: 17.25vw;
    margin: 0 1vw;
    &:first-child {
      margin-left: 0;
    }
    &:last-child {
      margin-right: 0;
    }
    &:hover .link-title {
      background-color: $c2;
    }
    .link-title {
      display: flex;
      background-color: $c35;
      color: $c1;
      font-weight: bold;
      font-size: 0.75vw;
      min-height: 3.2vh;
      user-select: none;
      justify-content: center;
      align-items: center;
      border-radius: 5px;
      &:hover ~ .link {
        background-color: $c37;
        border: solid 1px $c2;
        span {
          color: $c1;
        }
      }
    }
    .link {
      display: flex;
      flex: 1;
      flex-direction: column;
      user-select: none;
      cursor: pointer;
      border: solid 1px $c11;
      border-radius: 5px;
      margin-top: 1.6vh;
      height: 9.6vh;
      justify-content: center;
      text-decoration: none;
      &:hover {
        background-color: $c37;
        border: solid 1px $c2;
        span {
          color: $c1;
        }
      }
      &.disabled {
        cursor: not-allowed;
      }
      span {
        align-self: center;
        color: $c9;
        &.id {
          font-size: 0.75vw;
        }
        &.title {
          font-size: 1.05vw;
          margin: 0 0 0.75vh 0;
          font-weight: bold;
          text-transform: uppercase;
        }
        &.description {
          font-size: 0.6vw;
        }
      }
    }
  }
}

.comment-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin: 0 0 3vh 0;
  .comment-header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3.2vh;
    background: $c34;
    color: $c1;
    user-select: none;
    font-size: 0.6vw;
    .align-helper {
      margin-right: auto;
      margin-left: 0.65vw;
      visibility: hidden;
    }
    .username {
      color: $c1;
      font-weight: bold;
      font-size: 0.75vw;
    }
    .added {
      margin-left: auto;
      margin-right: 0.65vw;
      color: $c1;
      font-weight: bold;
    }
  }
  .comment-body {
    display: flex;
    height: 3.2vh;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    border: solid 1px $c34;
    color: $c8;
    cursor: default;
    font-size: 0.7vw;
  }
}
//.comment-container.manager {
//  .comment-header {
//    background: $c60;
//  }
//  .comment-body {
//    border: solid 1px $c60;
//  }
//}